*{
	font-family: "Roboto";
}

.text-center{
	text-align: center;
}

.box-1{
	margin-bottom: 20px;
	position: fixed;
	background-color: white;

}

.boton{
	background-color:#f6a619;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	box-shadow:5px 5px ;
}

.boton a:hover{
	font-size: 20px;
}
.boton:hover{
	background-color:black;
	color:#f6a619;
}

li a:hover{
	color:black;
	font-size:30px;
}

 .uno{
	width: 100px;
	margin-left:100px;
	margin-top: 20px;
 }

 a{
 	text-decoration:none;
 	color:white;
 }

.logo{
	margin:10px 0;

}

nav{
	margin-top:40px;
}

.menu{
	text-align: center;
	display: inline;
	padding: 15px;	
}

nav ul li a{
	color:#f6a619; 
}

.fondo{
	background-image: url(../img/fondo.jpg);
	background-size:100% 100%;
	height: 500px;
	box-sizing:border-box;
	margin-top: 75px;
}

.box-2{
	background-color:#eaebe8;
}

.box-3{
	background-color:white;
	box-sizing:border-box;
	padding:10px;
	margin:20px;
	text-align:center;
	height:550px;
}
 .dos{
 	width:50%;
 	margin:15px auto;
 }

.f-1{
	background-image:url(../img/foto-1.jpg);
	width: 300px;
	height: 300px;
	background-size: cover;	
	margin:10px auto;
	background-position:center;
}
.f-2{
	background-image:url(../img/foto-2.jpg);
	width: 300px;
	height: 300px;
	background-size: cover;
	margin:10px auto;
}
.f-3{
	background-image:url(../img/foto-3.jpg);
	width: 300px;
	height: 300px;
	background-size: cover;
	margin:10px auto;
	background-position:right;
}
.f-4{
	background-image:url(../img/foto-4.jpg);
	width: 300px;
	height: 300px;
	background-size:cover;
	margin:10px auto;
	background-position:center;
}


.box-3 h1{
	text-align: left;
	padding: 10px 0;
	color: #868781;
	font-size: 30px;	
}

.box-3 p{
	text-align: left;
	padding-left: 10px;
	color: #c2c2c2;
	font-size:17px;
}
footer{
	background-color:#262624;
	padding:25px 0 40px 100px;
	color: white;
}